{% extends "home/base.html" %}

{% load static %}


{% block gynecology %}

	<div class="layout">

		<div class="layout__inner">

		
			<div class="header">

				<span class="header__bg">
				</span>

				<div class="header__inner">

				{% include "home/logo.html" %}

				<div class="navigation-container">

					<ul class="navigation">

					<li class="selected">

						<b href="/">

						MediCare Clinic

						</b>

						<ul>

							<li>
								<a href="/travma">
								Центр травматологии и ортопедии
								</a>
							</li>

							<li class="selected">
								<b href="/gynecology">
								Гинекология и акушерство
								</b>
							</li>

							<li>
								<a href="/urology">
								Урология и андрология
								</a>
							</li>

							<li>
								<a href="/vaccine">
								Центр Вакцинации
								</a>
							</li>

							<li>
								<a href="/laboratory">
								Анализы и лабораторные исследования
								</a>
							</li>

							<li>
								<a href="/firstaid">
								Травмпункт
								</a>
							</li>

							<li>
								<a href="/online">
								On-line консультации
								</a>
							</li>

							<li>
								<a href="/callhome">
								Медицинская помощь на дому
								</a>
							</li>

							<li>
								<a href="/vacancies">
								Вакансии
								</a>
							</li>

						</ul>

					</li>

					<li>

						<a href="/about">
						О нас
						</a>

					</li>

					<li>

						<a href="/occasions">
						События
						</a>

					</li>

					<li>

						<a href="/articles">
						Статьи
						</a>

					</li>

					</ul>

				</div>
				
				{% include "home/burger.html" %}

				</div>

			</div>
		

			<div class="main-top">

				<h1 class="hyphenate">
					Гинекология и акушерство
				</h1>

				<div class="lead">
					<p class="first_child ">
						Гинекология. Планирование и ведение беременности.
					</p>
					
					<p class="last_child ">
						
						<nobr class="phone"> +7 812 994 58 00 </nobr>
						<br>
						<nobr class="phone"> +7 931 101 53 72 (WhatsApp) </nobr>
					</p>
				</div>
			
			</div>
				
			<div class="main">

				<div class="subservices">

					<div class="subservices__item">

						<h4>
							<a href="#!">
								Первичный осмотр и консультация врача акушера-гинеколога
							</a>
						</h4>

						<div class="subservices__item-content">

							<p class="first_child last_child ">
								 Наши акушеры-гинекологи проводят первичный осмотр и консультацию
								 с индивидуальным подходом к каждой пациентке.
							</p>

						</div>

					</div>

					<div class="subservices__item">

						<h4>
							<a href="#!">
								Программы ведения беременности для граждан РФ и иностранцев
							</a>
						</h4>

						<div class="subservices__item-content">

							<p class="first_child last_child ">
								Гибкие программы. Только индивидуальный подход и постоянная связь с персональным врачом. 
								Мы имеем положительный опыт ведения беременности, также имеем все условия
								для контроля и наблюдения за положительным течением беременности.
							</p>

						</div>

					</div>

				
				</div>

				<div>
					<br>
				</div>
					
				<div class="fotorama-container">
					
					<div class="fotorama" data-loop="true" data-ratio="3/2">
	
						<img alt="" width="398" height="265" src="#!" />
						
						<img alt="" width="398" height="265" src="#!" />
						
						<img alt="" width="397" height="265" src="#!" />
						
						<img alt="" width="398" height="265" src="#!" />
					
					</div>
				
				</div>

			
			</div>

			

		</div>

		{% include "home/footer.html" %}

		
	
	</div>
	


	<div class="bg">
		
		<img alt="" width="300" height="300" src="{% static 'img/main-bg.jpg' %}" />
    
  	</div>

	<div class="popup popup_search not_display">

		<span class="popup__close">
			×
		</span>

		<div class="popup__content">

			{% include "home/logo.html" %}

			<div class="popup__content-inner">
			
				{% include "home/search.html" %}

				<ul class="sitemap">
					

					<li class="selected">
				
						<a href="/">

							MediCare Clinic
							
						</a>
				
						<ul>

							<li>
								<a href="/travma">
									Центр травматологии и ортопедии
								</a>
							</li>

							<li class="selected">
								<a href="/gynecology">
									Гинекология и акушерство
								</a>
							</li>

							<li>
								<a href="/urology">
									Урология и андрология
								</a>
							</li>

							<li>
								<a href="/vaccine">
									Центр Вакцинации
								</a>
							</li>

							<li>
								<a href="/laboratory">
									Анализы и лабораторные исследования
								</a>
							</li>

							<li>
								<a href="/firstaid">
									Травмпункт
								</a>
							</li>

							<li>
								<a href="/online">
									On-line консультации
								</a>
							</li>

							<li>
								<a href="/callhome">
									Медицинская помощь на дому
								</a>
							</li>

							<li>
								<a href="/vacancies">
									Вакансии
								</a>
							</li>

						</ul>
					
					</li>
				
					<li>
						
						<a href="/about">
						О нас
						</a>
					
						<ul class="">
					
							<li>
								<a href="/about/staff">
								Коллектив
								</a>
							</li>
						
							<li>
								<a href="/about/reviews">
								Отзывы
								</a>
							</li>
						
							<li>
								<a href="/about/for_clients">
								Нашим клиентам
								</a>
							</li>
						
							<li>
								<a href="/about/contacts">
								Контакты / Часы работы
								</a>
							</li>
						
							<li>
								<a href="/about/partners">
								Партнеры
								</a>
							</li>
						
							<li>
								<a href="/about/pricelist">
								Цены
								</a>
							</li>

							<li>
								<a href="/about/license">
									Документы
								</a>
							</li>
						
							<li>
								<a href="/about/excursion">
								Экскурсия
								</a>
							</li>
						
							<li>
								<a href="/about/history">
								История
								</a>
							</li>
						
							<li>
								<a href="/about/faq">
								Вопросы и ответы
								</a>
							</li>
					
						</ul>
					
					</li>
					
					<li>
					
						<a href="/occasions">
						События
						</a>
					
						<ul class="">
					
							<li>
								<a href="/occasions/events">
								Мероприятия
								</a>
							</li>
						
							<li>
								<a href="/occasions/news">
								Новости
								</a>
							</li>
						
							<li>
								<a href="/occasions/promos">
								Акции
								</a>
							</li>
					
						</ul>
					
					</li>
					
					<li>

						<a href="/articles">

						Статьи

						</a>

					</li>
				
				</ul>

				<div class="search-results-container">

				</div>

			</div>

		</div>

	</div>

{% endblock gynecology %}