{% extends "home/base.html" %}

{% load static %}


{% block online %}

	<div class="layout">

		<div class="layout__inner">

		
			<div class="header">

				<span class="header__bg">
				</span>

				<div class="header__inner">

				{% include "home/logo.html" %}

				<div class="navigation-container">

					<ul class="navigation">

					<li class="selected">

						<b href="/">

						MediCare Clinic

						</b>

						<ul>

							<li>
								<a href="/travma">
								Центр травматологии и ортопедии
								</a>
							</li>

							<li>
								<a href="/gynecology">
								Гинекология и акушерство
								</a>
							</li>

							<li>
								<a href="/urology">
								Урология и андрология
								</a>
							</li>

							<li>
								<a href="/vaccine">
								Центр Вакцинации
								</a>
							</li>

							<li>
								<a href="/laboratory">
								Анализы и лабораторные исследования
								</a>
							</li>

							<li>
								<a href="/firstaid">
								Травмпункт
								</a>
							</li>

							<li class="selected">
								<b href="/online">
								On-line консультации
								</b>
							</li>

							<li>
								<a href="/callhome">
								Медицинская помощь на дому
								</a>
							</li>

							<li>
								<a href="/vacancies">
								Вакансии
								</a>
							</li>

						</ul>

					</li>

					<li>

						<a href="/about">
						О нас
						</a>

					</li>

					<li>

						<a href="/occasions">
						События
						</a>

					</li>

					<li>

						<a href="/articles">
						Статьи
						</a>

					</li>

					</ul>

				</div>
				
				{% include "home/burger.html" %}

				</div>

			</div>
		

			<div class="main-top">

				<h1 class="hyphenate">
					On-line консультации специалистов
				</h1>

				<div class="lead">
					<p class="first_child ">
						
					</p>
					
					<p class="last_child ">
						
						<nobr class="phone"> +7 812 994 58 00 </nobr>
						<br>
						<nobr class="phone"> +7 931 101 53 72 (WhatsApp) </nobr>
						
					</p>
				</div>
			
			</div>
				
			<div class="main">

				<div class="subservices">

					<div class="subservices__item">

						<h4>
							<a href="#!">
								
							</a>
						</h4>

						<div class="subservices__item-content">

							<p class="first_child last_child ">
								Можно ли получить квалифицированную медицинскую помощь не выходя из дома?<br><br>
								Да! Мы запускаем сервис ОН-ЛАЙН консультаций для тех, кому требуется консультация врача- специалиста, но нет возможности приехать в клинику.<br><br>
								Стоимость On-line консультации — 1000 рублей.<br><br>
								Запись на услугу проводиться через администраторов по телефону +7-812-99-458-00 или по WhatsApp +7-931-101-53-72<br><br>
								Вы можете получить консультацию врачей терапевтического профиля, травматологии и ортопедии, акушера-гинеколога и уролога.<br><br>
								Услуга доступна для тех, кто уже является пациентом нашей клиники. Для консультации Вам понадобятся:<br><br>
								• Компьютер, ноутбук, планшет или смартфон с камерой, микрофоном и выходом в интернет<br>
								• WhatsApp, Telegram, Skype<br><br>
								Поводом для обращения в режиме он-лайн может быть:<br>
								— обращение с целью динамического наблюдения за состоянием здоровья пациента;<br>
								— коррекция ранее назначенного пациенту лечения, при условии установления лечащим врачом диагноза и назначения лечения по данному обращению на очном приеме;<br>
								— получения рекомендаций по предварительному обследованию и дальнейшему очному обращению к конкретному врачу-специалисту, получение «второго мнения», то есть обращения за консультацией ко второму врачу той же специальности для того, чтобы подтвердить диагноз и уточнить вопросы по лечению.<br><br>
								После проведения консультации пациент получает медицинское заключение в форме электронного документа.<br><br>
								Для получения данного вида услуги пациент (или его законный представитель) должны быть пациентом клиники.<br><br>

							</p>

						</div>

					</div>					

				
				</div>

				<div>
					<br>
				</div>
					
				<div class="fotorama-container">
					
					<div class="fotorama" data-loop="true" data-ratio="3/2">
	
						<img alt="" width="398" height="265" src="#!" />
						
						<img alt="" width="398" height="265" src="#!" />
						
						<img alt="" width="397" height="265" src="#!" />
						
						<img alt="" width="398" height="265" src="#!" />
					
					</div>
				
				</div>

			
			</div>

			

		</div>

		{% include "home/footer.html" %}

		
	
	</div>
	


	<div class="bg">
		
		<img alt="" width="300" height="300" src="{% static 'img/main-bg.jpg' %}" />
    
  	</div>

	<div class="popup popup_search not_display">

		<span class="popup__close">
			×
		</span>

		<div class="popup__content">

			{% include "home/logo.html" %}

			<div class="popup__content-inner">
			
				{% include "home/search.html" %}

				<ul class="sitemap">
					

					<li class="selected">
				
						<a href="/">

						MediCare Clinic
						
						</a>
				
						<ul>

							<li>
								<a href="/travma">
									Центр травматологии и ортопедии
								</a>
							</li>

							<li>
								<a href="/gynecology">
									Гинекология и акушерство
								</a>
							</li>

							<li>
								<a href="/urology">
									Урология и андрология
								</a>
							</li>

							<li>
								<a href="/vaccine">
									Центр Вакцинации
								</a>
							</li>

							<li>
								<a href="/laboratory">
									Анализы и лабораторные исследования
								</a>
							</li>

							<li>
								<a href="/firstaid">
									Травмпункт
								</a>
							</li>

							<li class="selected">
								<a href="/online">
									On-line консультации
								</a>
							</li>

							<li>
								<a href="/callhome">
									Медицинская помощь на дому
								</a>
							</li>

							<li>
								<a href="/vacancies">
									Вакансии
								</a>
							</li>

						</ul>
					
					</li>
				
					<li>
						
						<a href="/about">
						О нас
						</a>
					
						<ul class="">
					
							<li>
								<a href="/about/staff">
								Коллектив
								</a>
							</li>
						
							<li>
								<a href="/about/reviews">
								Отзывы
								</a>
							</li>
						
							<li>
								<a href="/about/for_clients">
								Нашим клиентам
								</a>
							</li>
						
							<li>
								<a href="/about/contacts">
								Контакты / Часы работы
								</a>
							</li>
						
							<li>
								<a href="/about/partners">
								Партнеры
								</a>
							</li>
						
							<li>
								<a href="/about/pricelist">
								Цены
								</a>
							</li>

							<li>
								<a href="/about/license">
									Документы
								</a>
							</li>
						
							<li>
								<a href="/about/excursion">
								Экскурсия
								</a>
							</li>
						
							<li>
								<a href="/about/history">
								История
								</a>
							</li>
						
							<li>
								<a href="/about/faq">
								Вопросы и ответы
								</a>
							</li>
					
						</ul>
					
					</li>
					
					<li>
					
						<a href="/occasions">
						События
						</a>
					
						<ul class="">
					
							<li>
								<a href="/occasions/events">
								Мероприятия
								</a>
							</li>
						
							<li>
								<a href="/occasions/news">
								Новости
								</a>
							</li>
						
							<li>
								<a href="/occasions/promos">
								Акции
								</a>
							</li>
					
						</ul>
					
					</li>
					
					<li>

						<a href="/articles">

						Статьи

						</a>

					</li>
				
				</ul>

				<div class="search-results-container">

				</div>

			</div>

		</div>

	</div>

{% endblock online %}