{% extends "home/base.html" %}

{% load static %}


{% block vaccine %}

	<div class="layout">

		<div class="layout__inner">

		
			<div class="header">

				<span class="header__bg">
				</span>

				<div class="header__inner">

				{% include "home/logo.html" %}

				<div class="navigation-container">

					<ul class="navigation">

					<li class="selected">

						<b href="/">

						MediCare Clinic

						</b>

						<ul>

							<li>
								<a href="/travma">
								Центр травматологии и ортопедии
								</a>
							</li>

							<li>
								<a href="/gynecology">
								Гинекология и акушерство
								</a>
							</li>

							<li>
								<a href="/urology">
								Урология и андрология
								</a>
							</li>

							<li class="selected">
								<b href="/vaccine">
								Центр Вакцинации
								</b>
							</li>

							<li>
								<a href="/laboratory">
								Анализы и лабораторные исследования
								</a>
							</li>

							<li>
								<a href="/firstaid">
								Травмпункт
								</a>
							</li>

							<li>
								<a href="/online">
								On-line консультации
								</a>
							</li>

							<li>
								<a href="/callhome">
								Медицинская помощь на дому
								</a>
							</li>

							<li>
								<a href="/vacancies">
								Вакансии
								</a>
							</li>

						</ul>

					</li>

					<li>

						<a href="/about">
						О нас
						</a>

					</li>

					<li>

						<a href="/occasions">
						События
						</a>

					</li>

					<li>

						<a href="/articles">
						Статьи
						</a>

					</li>

					</ul>

				</div>
				
				{% include "home/burger.html" %}

				</div>

			</div>
		

			<div class="main-top">

				<h1 class="hyphenate">
					Вакцинация
				</h1>

				<div class="lead">
					<p class="first_child ">
						В нашей клинике можно записаться на услугу по вакцинации от COVID-19, сезонные прививки, календарные, для выезда в страны с особенными условиями климата, с предварительным осмотром врача
					</p>
					
					<p class="last_child ">
						
						<nobr class="phone"> +7 812 994 58 00 </nobr>
						<br>
						<nobr class="phone"> +7 931 101 53 72 (WhatsApp) </nobr>
						
					</p>
				</div>
			
			</div>
				
			<div class="main">

				<div class="subservices">

					<div class="subservices__item">

						<h4>
							<a href="#!">
								Вакцинация от COVID-19
							</a>
						</h4>

						<div class="subservices__item-content">

							<p class="first_child last_child ">
								В нашей клинике можно записаться на услугу по вакцинации от COVID-19, прививки, с предварительным осмотром врача, проводятся в клиниках:

								пр-кт Комендантский, д.58, к.1
								
								Вакцинация проводится бесплатно, оплачивается только осмотр врача перед вакцинацией.
							</p>

						</div>

					</div>

					<div class="subservices__item">

						<h4>
							<a href="#!">
								Вакцинация для юридических лиц
							</a>
						</h4>

						<div class="subservices__item-content">

							<p class="first_child last_child ">
								Для корпоративных клиентов мы предлагаем вакцинацию сотрудников как в клинике, так и с выездом в офис или на предприятие, гибкое ценообразование и оперативную организацию работы.
							</p>

						</div>

					</div>

					<div class="subservices__item">

						<h4>
							<a href="#!">
								Сезонная вакцинация от гриппа
							</a>
						</h4>

						<div class="subservices__item-content">

							<p class="first_child last_child ">
								Наша клиника предлагает сезонную вакцинацию от гриппа для детей и взрослых, а также корпоративных клиентов. Для корпоративных клиентов мы предлагаем вакцинацию сотрудников с выездом в офис или на предприятие. Все цены указаны со стоимостью осмотра перед вакцинацией. Напоминаем, что запись на прием обязательна. Ежегодно осенью начинается кампания по вакцинации от сезонного гриппа. Опасность этой инфекции многие недооценивают, а между тем она может причинить немало проблем.<br>
								В этом сезоне 2021/22 гг наша клиника планирует проведение прививок от гриппа следующими вакцинами:<br>
								ФЛЮ-М (СПбНИИВС, Россия)<br>
								Проверенная вакцина от трех из четырех циркулирующих сезонных штаммов вируса гриппа. В состав вакцины входят инактивированные вирусы гриппа, расщепленные на отдельные небольшие антигены. ФЛЮ-М не содержит адъюванты, так как концентрация вирусных антигенов в вакцине достаточна для формирования иммунного ответа.<br>
								Возрастные ограничения:<br>
								для детей начиная с 6 лет без ограничения по возрасту.<br>
								Стоимость:<br>
								1500 рублей, включая осмотр врача перед вакцинацией.
							</p>

						</div>

					</div>

				
				</div>

				<div>
					<br>
				</div>
					
				<div class="fotorama-container">
					
					<div class="fotorama" data-loop="true" data-ratio="3/2">
	
						<img alt="" width="398" height="265" src="#!" />
						
						<img alt="" width="398" height="265" src="#!" />
						
						<img alt="" width="397" height="265" src="#!" />
						
						<img alt="" width="398" height="265" src="#!" />
					
					</div>
				
				</div>

			
			</div>

			

		</div>

		{% include "home/footer.html" %}

		
	
	</div>
	


	<div class="bg">
		
		<img alt="" width="300" height="300" src="{% static 'img/main-bg.jpg' %}" />
    
  	</div>

	<div class="popup popup_search not_display">

		<span class="popup__close">
			×
		</span>

		<div class="popup__content">

			{% include "home/logo.html" %}

			<div class="popup__content-inner">
			
				{% include "home/search.html" %}

				<ul class="sitemap">
					

					<li class="selected">
				
						<a href="/">

						MediCare Clinic
						
						</a>
				
						<ul>

							<li>
								<a href="/travma">
									Центр травматологии и ортопедии
								</a>
							</li>

							<li>
								<a href="/gynecology">
									Гинекология и акушерство
								</a>
							</li>

							<li>
								<a href="/urology">
									Урология и андрология
								</a>
							</li>

							<li class="selected">
								<a href="/vaccine">
									Центр Вакцинации
								</a>
							</li>

							<li>
								<a href="/laboratory">
									Анализы и лабораторные исследования
								</a>
							</li>

							<li>
								<a href="/firstaid">
									Травмпункт
								</a>
							</li>

							<li>
								<a href="/online">
									On-line консультации
								</a>
							</li>

							<li>
								<a href="/callhome">
									Медицинская помощь на дому
								</a>
							</li>

							<li>
								<a href="/vacancies">
									Вакансии
								</a>
							</li>

						</ul>
					
					</li>
				
					<li>
						
						<a href="/about">
						О нас
						</a>
					
						<ul class="">
					
							<li>
								<a href="/about/staff">
								Коллектив
								</a>
							</li>
						
							<li>
								<a href="/about/reviews">
								Отзывы
								</a>
							</li>
						
							<li>
								<a href="/about/for_clients">
								Нашим клиентам
								</a>
							</li>
						
							<li>
								<a href="/about/contacts">
								Контакты / Часы работы
								</a>
							</li>
						
							<li>
								<a href="/about/partners">
								Партнеры
								</a>
							</li>
						
							<li>
								<a href="/about/pricelist">
								Цены
								</a>
							</li>

							<li>
								<a href="/about/license">
									Документы
								</a>
							</li>
						
							<li>
								<a href="/about/excursion">
								Экскурсия
								</a>
							</li>
						
							<li>
								<a href="/about/history">
								История
								</a>
							</li>
						
							<li>
								<a href="/about/faq">
								Вопросы и ответы
								</a>
							</li>
					
						</ul>
					
					</li>
					
					<li>
					
						<a href="/occasions">
						События
						</a>
					
						<ul class="">
					
							<li>
								<a href="/occasions/events">
								Мероприятия
								</a>
							</li>
						
							<li>
								<a href="/occasions/news">
								Новости
								</a>
							</li>
						
							<li>
								<a href="/occasions/promos">
								Акции
								</a>
							</li>
					
						</ul>
					
					</li>
					
					<li>

						<a href="/articles">

						Статьи

						</a>

					</li>
				
				</ul>

				<div class="search-results-container">

				</div>

			</div>

		</div>

	</div>

{% endblock vaccine %}