{% extends "home/base.html" %}

{% load static %}


{% block about %}



    <div class="layout">

        <div class="layout__inner">

            <div class="header">

                <span class="header__bg">
                </span>

                <div class="header__inner">

                    {% include "home/logo.html" %}

                    <div class="navigation-container">

                        <ul class="navigation">

                            <li>

                                <a href="/">
                                    MediCare Clinic
                                </a>

                                <ul>

                                    <li>
                                        <a href="/travma">
                                            Центр травматологии и ортопедии
                                        </a>
                                    </li>

                                    <li>
                                        <a href="/gynecology">
                                            Гинекология и акушерство
                                        </a>
                                    </li>

                                    <li>
                                        <a href="/urology">
                                            Урология и андрология
                                        </a>
                                    </li>

                                    <li>
                                        <a href="/vaccine">
                                            Центр Вакцинации
                                        </a>
                                    </li>

                                    <li>
                                        <a href="/laboratory">
                                            Анализы и лабораторные исследования
                                        </a>
                                    </li>

                                    <li>
                                        <a href="/firstaid">
                                            Травмпункт
                                        </a>
                                    </li>

                                    <li>
                                        <a href="/online">
                                            On-line консультации
                                        </a>
                                    </li>

                                    <li>
                                        <a href="/callhome">
                                            Медицинская помощь на дому
                                        </a>
                                    </li>

                                    <li>
                                        <a href="/vacancies">
                                            Вакансии
                                        </a>
                                    </li>

                                </ul>

                            </li>

                            <li class="selected">

                                <b class="selected">
                                    О нас
                                </b>

                                <ul class="">
        
                                    <li>
                                      <a href="/about/staff">
                                        Коллектив
                                      </a>
                                    </li>
                              
                                    <li>
                                      <a href="/about/reviews">
                                        Отзывы
                                      </a>
                                    </li>
                              
                                    <li>
                                      <a href="/about/for_clients">
                                        Нашим клиентам
                                      </a>
                                    </li>
                              
                                    <li>
                                      <a href="/about/contacts">
                                        Контакты / Часы работы
                                      </a>
                                    </li>
                              
                                    <li>
                                      <a href="/about/partners">
                                        Партнеры
                                      </a>
                                    </li>
                              
                                    <li>
                                      <a href="/about/pricelist">
                                        Цены
                                      </a>
                                    </li>
                      
                                    <li>
                                      <a href="/about/license">
                                          Документы
                                      </a>
                                    </li>
                              
                                    <li>
                                      <a href="/about/excursion">
                                        Экскурсия
                                      </a>
                                    </li>
                              
                                    <li>
                                      <a href="/about/history">
                                        История
                                      </a>
                                    </li>
                              
                                    <li>
                                      <a href="/about/faq">
                                        Вопросы и ответы
                                      </a>
                                    </li>
                              
                                </ul>

                            </li>

                            <li>

                                <a href="/occasions">
                                    События
                                </a>

                            </li>

                            <li>

                                <a href="/articles">
                                    Статьи
                                </a>

                            </li>

                        </ul>

                    </div>

                    {% include "home/burger.html" %}

                </div>

            </div>

            <div id="content">

                <div class="main-top">

                    <h1 class="hyphenate">
                        О нашей клинике
                    </h1>

                    <p class="first_child last_child ">

                        Клиника рядом с домом MediCare Clinic.
                        Мы специализируемся на травматологии и ортопедии, и спортивных травмах.
                        Каждый день мы проводим бесплатные консультации травматолога-ортопеда, по предварительной записи.
                        Также у нас вы можете получить консультации: терапевта, гинеколога, уролога, хирурга, 
                        УЗИ, Вакцинация, более 2000 видов лабораторных исследований, анализы, травмпункт.

                    </p>

                </div>


                <div class="about-sections">

                    <div class="cols cols_2">

                        <div class="col">

                            <div class="about-sections__item">

                                <h3>

                                    <a href="/about/history">
                                        История
                                    </a>

                                </h3>

                                <p class="first_child last_child ">
                                    История нашей клиники
                                </p>

                            </div>

                        </div>

                        <div class="col">

                            <div class="about-sections__item">

                                <h3>

                                    <a href="/about/staff">
                                        Коллектив
                                    </a>

                                </h3>

                                <p class="first_child last_child ">
                                    Коллектив нашей клиники
                                </p>

                            </div>

                        </div>

                        <div class="col">

                            <div class="about-sections__item">

                                <h3>

                                    <a href="/about/for_clients">
                                        Нашим клиентам
                                    </a>

                                </h3>

                                <p class="first_child last_child ">
                                    Правила и памятки
                                </p>

                            </div>

                        </div>

                        <div class="col">

                            <div class="about-sections__item">

                                <h3>

                                    <a href="/about/reviews">
                                        Отзывы
                                    </a>

                                </h3>

                                <p class="first_child last_child ">
                                    Впечатления наших пациентов
                                </p>

                            </div>

                        </div>

                        <div class="col">

                            <div class="about-sections__item">

                                <h3>

                                    <a href="/about/partners">
                                        Партнеры
                                    </a>

                                </h3>

                                <p class="first_child last_child ">
                                    Компании, с которыми мы сотрудничаем
                                </p>

                            </div>

                        </div>

                        <div class="col">

                            <div class="about-sections__item">

                                <h3>

                                    <a href="/about/contacts">
                                        Контакты / Часы работы
                                    </a>

                                </h3>

                                <p class="first_child last_child ">
                                    Мы находимся в самом центре Петербурга
                                </p>

                            </div>

                        </div>

                        <div class="col">

                            <div class="about-sections__item">

                                <h3>

                                    <a href="/about/license">
                                        Документы
                                    </a>

                                </h3>

                                <p class="first_child last_child ">
                                    Лицензии, свидетельства и справочная информация
                                </p>

                            </div>

                        </div>

                        <div class="col">

                            <div class="about-sections__item">

                                <h3>

                                    <a href="/about/faq">
                                        Вопросы и ответы
                                    </a>

                                </h3>

                                <p class="first_child last_child ">
                                    О чем нас чаще всего спрашивают
                                </p>

                            </div>

                        </div>

                        <div class="col">

                            <div class="about-sections__item">

                                <h3>

                                    <a href="/about/pricelist">
                                        Цены
                                    </a>

                                </h3>

                                <p class="first_child last_child ">
                                    Стоимость наших услуг
                                </p>

                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        {% include "home/footer.html" %}



    </div>

    <div class="bg">

        <img alt="" width="300" height="300" src="{% static 'img/main-bg.jpg' %}" />
        
    </div>

    <div class="popup popup_search not_display">

        <span class="popup__close">
            ×
        </span>

        <div class="popup__content">

            {% include "home/logo.html" %}

            <div class="popup__content-inner">

                {% include "home/search.html" %}

                <ul class="sitemap">

                    <li>

                        <a href="/">
                            MediCare Clinic
                        </a>

                        <ul>

                            <li>
                              <a href="/travma">
                                Центр травматологии и ортопедии
                              </a>
                            </li>
            
                            <li>
                              <a href="/gynecology">
                                Гинекология и акушерство
                              </a>
                            </li>
                            <li>
                              <a href="/urology">
                                Урология и андрология
                              </a>
                            </li>
                            <li>
                              <a href="/vaccine">
                                Центр Вакцинации
                              </a>
                            </li>
                            <li>
                              <a href="/laboratory">
                                Анализы и лабораторные исследования
                              </a>
                            </li>
                            <li>
                              <a href="/firstaid">
                                Травмпункт
                              </a>
                            </li>
                            <li>
                              <a href="/online">
                                On-line консультации
                              </a>
                            </li>
                            <li>
                              <a href="/callhome">
                                Медицинская помощь на дому
                              </a>
                            </li>
                            <li>
                              <a href="/vacancies">
                                Вакансии
                              </a>
                            </li>
            
                        </ul>

                    </li>

                    <li class="selected">

                        <b class="selected">
                            О нас
                        </b>

                        <ul class="">
        
                            <li>
                              <a href="/about/staff">
                                Коллектив
                              </a>
                            </li>
                      
                            <li>
                              <a href="/about/reviews">
                                Отзывы
                              </a>
                            </li>
                      
                            <li>
                              <a href="/about/for_clients">
                                Нашим клиентам
                              </a>
                            </li>
                      
                            <li>
                              <a href="/about/contacts">
                                Контакты / Часы работы
                              </a>
                            </li>
                      
                            <li>
                              <a href="/about/partners">
                                Партнеры
                              </a>
                            </li>
                      
                            <li>
                              <a href="/about/pricelist">
                                Цены
                              </a>
                            </li>
                      
                            <li>
                              <a href="/about/excursion">
                                Экскурсия
                              </a>
                            </li>
                      
                            <li>
                              <a href="/about/history">
                                История
                              </a>
                            </li>
                      
                            <li>
                              <a href="/about/faq">
                                Вопросы и ответы
                              </a>
                            </li>
                      
                        </ul>

                    </li>

                    <li>
        
                        <a href="/occasions">
                          События
                        </a>
                    
                        <ul class="">
                    
                          <li>
                            <a href="/occasions/events">
                              Мероприятия
                            </a>
                          </li>
                    
                          <li>
                            <a href="/occasions/news">
                              Новости
                            </a>
                          </li>
                    
                          <li>
                            <a href="/occasions/promos">
                              Акции
                            </a>
                          </li>
                    
                        </ul>
                    
                    </li>
                    
                    <li>
        
                        <a href="/articles">
                            Статьи
                        </a>
        
                    </li>

                </ul>

                <div class="search-results-container">

                </div>

            </div>

        </div>

    </div>



{% endblock about %}

