{% extends "home/base.html" %}

{% load static %}


{% block articles %}
		
		<div class="layout">

			<div class="layout__inner">
				
				<div class="header">

					<span class="header__bg">

					</span>
					
					<div class="header__inner">
						
						{% include "home/logo.html" %}
						
						<div class="navigation-container">
							
							<ul class="navigation">
								
								<li>
									
									<a href="/">
										
										MediCare Clinic
									
									</a>
									
									<ul>
	
										<li>

											<a href="/travma">
												Центр травматологии и ортопедии
											</a>
											
										</li>
	
										<li>
											<a href="/gynecology">
												Гинекология и акушерство
											</a>
										</li>
	
										<li>
											<a href="/urology">
												Урология и андрология
											</a>
										</li>
	
										<li>
											<a href="/vaccine">
												Центр Вакцинации
											</a>
										</li>
	
										<li>
											<a href="/laboratory">
												Анализы и лабораторные исследования
											</a>
										</li>
	
										<li>
											<a href="/firstaid">
												Травмпункт
											</a>
										</li>
	
										<li>
											<a href="/online">
												On-line консультации
											</a>
										</li>
	
										<li>
											<a href="/callhome">
												Медицинская помощь на дому
											</a>
										</li>
	
										<li>
											<a href="/vacancies">
												Вакансии
											</a>
										</li>
	
									</ul>
								
								</li>
								
								<li>
									
									<a href="/about">
									
										О нас

									</a>
								
								</li>
								
								<li>
									
									<a href="/occasions">
										
										События
									
									</a>
								
								</li>
								
								<li class="selected">
									
									<b class="selected">
										
										Статьи
									
									</b>
								
								</li>
							
							</ul>
						
						</div>
						
						{% include "home/burger.html" %}
					
					</div>
				
				</div>
				
				<div id="content">
					
					<div class="main-top main-top_centered">
						
						<h1 class="hyphenate">
							
							Статьи
						
						</h1>
						
						<ul class="filter ">
							
							<li class="selected">
								
								О клинике
							
							</li>
							
							<li>
								
								<a href="/articles/a_sportmed">
									
									Спортивная медицина
								
								</a>
							
							</li>
							
							<li>
								
								<a href="/articles/a_typical">
									
									Типичные случаи в ортопедии
								
								</a>
							
							</li>
							
							<li>
								
								<a href="/articles/a_orthopedy">
									
									О ортопедии
								
								</a>
							
							</li>
							
							<li>
								
								<a href="/articles/a_travma">
									
									Центр травматологии и ортопедии
								
								</a>
							
							</li>
							
							<li>
								
								<a href="/articles/a_firstaid">
									
									Травмпункт
								
								</a>
							
							</li>
							
							<li>
								
								<a href="/articles/a_laboratory">
									
									Анализы и лабораторные исследования
								
								</a>
							
							</li>
							
							<li>
								
								<a href="/articles/a_callhome">
									
									Медицинская помощь на дому
								
								</a>
							
							</li>
							
							<li>
								
								<a href="/articles/a_media">
									
									СМИ о Medicare Clinic
								
								</a>
							
							</li>
							
							<li>
								
								<a href="/articles/a_urology">
									
									Урология и андрология
								
								</a>
							
							</li>
							
							<li>
								
								<a href="/articles/a_recover">
									
									О лечении и восстановлении
								
								</a>
							
							</li>
							
							<li>
								
								<a href="/articles/a_research">
									
									Об исследованиях
								
								</a>
							
							</li>
						
						</ul>
					
					</div>
					
					<div class="articles-list reduced-width">
						
						<div class="articles-list__item">
							
							<div class="article">
								
								<div class="article__title">
									
									<h3>
										
										<a href="/articles/travma/1/">
											
											Пора на осмотр!
										
										</a>
									
									</h3>
								
								</div>
								
								<div class="article__summary">
									
									Вот и шпора, боль при ходьбе...
								
								</div>
							
							</div>
						
						</div>
						
						<div class="articles-list__item">
							
							<div class="article">
								
								<div class="article__title">
									
									<h3>
										
										<a href="/articles/travma/4/">
											
											Как выбрать, RPR или УВТ? Где лечить?
										
										</a>
									
									</h3>
								
								</div>
								
								<div class="article__summary">
									
									Этот вопрос необходимо задать себе буквально в первые дни после диагноза, чтобы раньше начать лечение. Потому что от этого выбора зависит успех и сроки лечения.
								
								</div>
							
							</div>
						
						</div>
						
						<div class="articles-list__item">
							
							<div class="article">
								
								<div class="article__title">
									
									<h3>
										
										<a href="/articles/travma/6/">
											
											Плазмотерапия
										
										</a>
									
									</h3>
								
								</div>
								
								<div class="article__summary">
									
									Плазмотерапия, восстановление суставов за счет ресурсов организма.
								
								</div>
							
							</div>
						
						</div>
						
						<div class="articles-list__item">
							
							<div class="article">
								
								<div class="article__title">
									
									<h3>
										
										<a href="/articles/travma/31/">
											
											Консервативное лечение суставов
										
										</a>
									
									</h3>
								
								</div>
								
								<div class="article__summary">
									
									За и против консервативного лечения. Когда стоит не спешить с протезированием.
								
								</div>
							
							</div>
						
						</div>
						
						<div class="articles-list__item">
							
							<div class="article">
								
								<div class="article__title">
									
									<h3>
										
										<a href="/articles/travma/32/">
											
											Новые технологии в травматологии и ортопедии. 
										
										</a>
									
									</h3>
								
								</div>
								
								<div class="article__summary">
									
									Новые технологии, которые позволят увеличить срок качественного долголетия. 
									Инновации в травматологии и ортопедии.
								
								</div>
							
							</div>
						
						</div>
						
						<div class="paging">
							
							<span class="paging__item selected">
								
								1
							
							</span>
							
							<span class="paging__item">
								
								<a href="/articles/?page=2">
									
									2
								
								</a>
							
							</span>
							
							<span class="paging__item">
								
								<a href="/articles/?page=3">
									
									3
								
								</a>
							
							</span>
						
						</div>
					
					</div>
					
					<div class="articles-list__next">
						
						<div class="next">
							
							<div class="next__label">
								
								Дальше
							
							</div>
							
							<div class="next__title">
								
								<a href="/articles/a_travma">
									
									<span>
										
										Центр травматологии и ортопедии
									
									</span>
								
								</a>
							
							</div>
						
						</div>
					
					</div>
					
					<div class="subscription ">

					</div>
				
				</div>
			
			</div>

			{% include "home/footer.html" %}
		
		</div>
		
		<div class="bg">

			<img alt="" width="300" height="300" src="{% static 'img/main-bg.jpg' %}" />
			
		</div>
		
		<div class="popup popup_search not_display">
			
			<span class="popup__close">
				
				×
			
			</span>
			
			<div class="popup__content">
				
				{% include "home/logo.html" %}
				
				<div class="popup__content-inner">
					
					{% include "home/search.html" %}
					
					<ul class="sitemap">
						
						<li>

							<a href="/">
								MediCare Clinic
							</a>
	
							<ul>
	
								<li>
								  <a href="/travma">
									Центр травматологии и ортопедии
								  </a>
								</li>
				
								<li>
								  <a href="/gynecology">
									Гинекология и акушерство
								  </a>
								</li>
								<li>
								  <a href="/urology">
									Урология и андрология
								  </a>
								</li>
								<li>
								  <a href="/vaccine">
									Центр Вакцинации
								  </a>
								</li>
								<li>
								  <a href="/laboratory">
									Анализы и лабораторные исследования
								  </a>
								</li>
								<li>
								  <a href="/firstaid">
									Травмпункт
								  </a>
								</li>
								<li>
								  <a href="/online">
									On-line консультации
								  </a>
								</li>
								<li>
								  <a href="/callhome">
									Медицинская помощь на дому
								  </a>
								</li>
								<li>
								  <a href="/vacancies">
									Вакансии
								  </a>
								</li>
				
							</ul>
	
						</li>
						
						<li>
        
							<a href="/about">
							  О нас
							</a>
						
							<ul class="">
						
							  <li>
								<a href="/about/staff">
								  Коллектив
								</a>
							  </li>
						
							  <li>
								<a href="/about/reviews">
								  Отзывы
								</a>
							  </li>
						
							  <li>
								<a href="/about/for_clients">
								  Нашим клиентам
								</a>
							  </li>
						
							  <li>
								<a href="/about/contacts">
								  Контакты / Часы работы
								</a>
							  </li>
						
							  <li>
								<a href="/about/partners">
								  Партнеры
								</a>
							  </li>
						
							  <li>
								<a href="/about/pricelist">
								  Цены
								</a>
							  </li>
				
							  <li>
								<a href="/about/license">
									Документы
								</a>
							  </li>
						
							  <li>
								<a href="/about/excursion">
								  Экскурсия
								</a>
							  </li>
						
							  <li>
								<a href="/about/history">
								  История
								</a>
							  </li>
						
							  <li>
								<a href="/about/faq">
								  Вопросы и ответы
								</a>
							  </li>
						
							</ul>
						
						</li>
						
						<li>
        
							<a href="/occasions">
							  События
							</a>
						
							<ul class="">
						
							  <li>
								<a href="/occasions/events">
								  Мероприятия
								</a>
							  </li>
						
							  <li>
								<a href="/occasions/news">
								  Новости
								</a>
							  </li>
						
							  <li>
								<a href="/occasions/promos">
								  Акции
								</a>
							  </li>
						
							</ul>
						
						</li>
						
						<li class="selected">
							
							<b class="selected">
								
								Статьи
							
							</b>
						
						</li>
					
					</ul>
					
					<div class="search-results-container">

					</div>
				
				</div>
			
			</div>
		
		</div>


{% endblock articles %}