
<div class="footer footer_home">

    {% include "home/social_underline.html" %}

    <div class="footer__main">

        <div class="copyright">
        © 2021 MediCare Clinic
        </div>

        <ul class="footer__nav">

            

            <li>
                <a href="/about">
                О нас
                </a>
            </li>

            <li>
                <a href="/occasions">
                События
                </a>
            </li>

            <li>
                <a href="/articles">
                Статьи
                </a>
            </li>

            <li>

                <span class="pseudo vision-impaired-toggler">

                    <span class="vision-impaired-link vision-impaired-link_impaired">
                        Версия для слабовидящих
                    </span>

                    <span class="vision-impaired-link vision-impaired-link_standard">
                        Стандартная версия
                    </span>

                </span>

            </li>

            

        </ul>


    </div>


</div>