
<div id="content">

    <div class="content__inner">


        <div class="home-col">

            <div class="home-about">

            <div class=" decorated-block" data-href="/about/">

                <div class="decorated-block__content">

                <div class="decorated-block__title">

                    <span>
                    О нашей клинике
                    </span>

                </div>

                <div class="decorated-block__summary">

                    Клиника рядом с домом MediCare Clinic.
                    Мы специализируемся на травматологии и ортопедии, и спортивных травмах.
                    Каждый день мы проводим бесплатные консультации травматолога-ортопеда, по предварительной записи.
                    Также у нас вы можете получить консультации: терапевта, гинеколога, уролога, хирурга, 
                    УЗИ, Вакцинация, более 2000 видов лабораторных исследований, анализы, травмпункт.

                </div>

                </div>

            </div>

            </div>

            <div class="home-services">

                <div class="services">

                    <div class="service decorated-block" data-href="travma">

                    <div class="decorated-block__content">

                        <div class="decorated-block__title">

                        <span>
                            Центр травматологии и ортопедии
                        </span>

                        </div>

                        <div class="decorated-block__summary">

                        Травматология, ортопедия, протезирование. Специализация на спортивных травмах.

                        </div>

                        <div class="decorated-block__img">

                        <img src="/files/20/badge1.png" alt="" />

                        </div>

                    </div>

                    </div>

                    <div class="service decorated-block" data-href="gynecology">

                    <div class="decorated-block__content">
                        <div class="decorated-block__title">
                        <span>
                            Гинекология и акушерство
                        </span>
                        </div>
                        <div class="decorated-block__summary">
                        Гинекология. Планирование и ведение беременности.
                        </div>
                    </div>

                    </div>

                    <div class="service decorated-block" data-href="urology">
                    <div class="decorated-block__content">
                        <div class="decorated-block__title">
                        <span>
                            Урология и андрология
                        </span>
                        </div>
                        <div class="decorated-block__summary">
                        Урология. Специализация на заболеваниях почек, мочевого пузыря, патологиях, поражающих мочеиспускательный канал и половые органы.
                        </div>
                    </div>
                    </div>

                    <div class="service decorated-block" data-href="vaccine">

                        <div class="decorated-block__content">

                            <div class="decorated-block__title">
                                <span>
                                    Центр Вакцинации
                                </span>
                            </div>
                            
                            <div class="decorated-block__summary">
                                Вакцинация от COVID-19. Плановые и сезонные вакцинации от гриппа, клеща, геппатита, полиомиелита, энцефалита, пневмококковая,
                                ротавирусной инфекции, дифтерии, столбняка, коклюша, гемофильной инфекции, , ветряной оспы, кори, краснухи.
                            </div>
                            
                            <div class="decorated-block__img">
                                <img src="/files/21/logo.png" alt="" />
                            </div>

                        </div>

                    </div>

                    <div class="service decorated-block" data-href="laboratory">
                    <div class="decorated-block__content">
                        <div class="decorated-block__title">
                        <span>
                            Анализы и лабораторные исследования
                        </span>
                        </div>
                        <div class="decorated-block__summary"> 
                        Диагностический центр и лаборатория работают без выходных и праздников. 
                        Забор анализов проводят профессиональные и опытные медсестры, обученные безболезненным методикам работы.
                        У вас есть возможность заказать услугу забора анализов на дому.
                        О готовности результата анализов вы можете узнать по телефону +7 (812) 994 58 00 или получить результаты на эл.почту.
                        </div>
                    </div>
                    </div>

                    <div class="service decorated-block" data-href="firstaid">
                    <div class="decorated-block__content">

                        <div class="decorated-block__title">
                        <span>
                            Травмпункт
                        </span>
                        </div>

                        <div class="decorated-block__summary">
                        У нас работает травмпункт. Врачи оказывают взрослым при любых травмах. 
                        Это переломы, вывихи, раны, ушибы, ожоги и т. д. 
                        В рамках приема травматолог проведет визуальный осмотр, купирует боль и немедленно приступит к лечению.                
                        </div>

                    </div>
                    </div>

                    <div class="service decorated-block" data-href="online">
                    <div class="decorated-block__content">

                        <div class="decorated-block__title">
                        <span>
                            On-line консультации
                        </span>
                        </div>

                    </div>
                    </div>

                    <div class="service decorated-block" data-href="callhome">
                    <div class="decorated-block__content">

                        <div class="decorated-block__title">
                        <span>
                            Медицинская помощь на дому
                        </span>
                        </div>

                        <div class="decorated-block__summary">
                        Наши доктора и медсестры могут выехать к вам на дом.
                        </div>

                    </div>
                    </div>

                    <div class="service decorated-block" data-href="vacancies">
                    <div class="decorated-block__content">

                        <div class="decorated-block__title">
                        <span>
                            Вакансии
                        </span>
                        </div>

                    </div>
                    </div>

                </div>

            </div>

            <div class="home-block home-news">
            <h2>
                <a href="/occasions/">
                События
                </a>
            </h2>
            <div class="news">
                <div class="news__item">
                <div class="news__item-title">
                    <a href="#!">
                    День открытых дверей
                    </a>
                </div>
                <div class="news__item-date">
                    07 января
                </div>
                </div>
                <div class="news__item">
                <div class="news__item-title">
                    <a href="#!">
                    Расписание Бесплатных консультаций Центра травматологии и ортопедии, декабрь 2021
                    </a>
                </div>
                <div class="news__item-date">
                    30 ноября 
                </div>
                </div>
            </div>
            </div>
            
            <div class="home-block home-contacts">

            <h2 class="first_child ">

                <a href="/about/contacts/">
                Контактная информация
                </a>

            </h2>

            <p>
                Комендантский пр.,58,к.1, стр.1
                Санкт-Петербург
            </p>

            <p>

                <span class="phone">

                <a href="tel:+78129945800">
                    +7 812 994-58-00
                </a>

                </span>

            </p>

            <p class="last_child ">

                <span class="phone">

                <a href="tel:+79311015372">
                    +7 931 101-53-72
                </a>

                </span>

            </p>

            
            
            

            </div>

        </div>

    </div>

</div>