{% extends "home/base.html" %}

{% load static %}


{% block occasions %}

		<div class="layout">

			<div class="layout__inner">

				<div class="header">

					<span class="header__bg">

					</span>

					<div class="header__inner">

						{% include "home/logo.html" %}

						<div class="navigation-container">

							<ul class="navigation">

								<li>

									<a href="/">

										MediCare Clinic

									</a>
	
									<ul>
	
										<li>

											<a href="/travma">
												Центр травматологии и ортопедии
											</a>
											
										</li>
	
										<li>
											<a href="/gynecology">
												Гинекология и акушерство
											</a>
										</li>
	
										<li>
											<a href="/urology">
												Урология и андрология
											</a>
										</li>
	
										<li>
											<a href="/vaccine">
												Центр Вакцинации
											</a>
										</li>
	
										<li>
											<a href="/laboratory">
												Анализы и лабораторные исследования
											</a>
										</li>
	
										<li>
											<a href="/firstaid">
												Травмпункт
											</a>
										</li>
	
										<li>
											<a href="/online">
												On-line консультации
											</a>
										</li>
	
										<li>
											<a href="/callhome">
												Медицинская помощь на дому
											</a>
										</li>
	
										<li>
											<a href="/vacancies">
												Вакансии
											</a>
										</li>
	
									</ul>
	
								</li>

								<li>

									<a href="/about">
									  О нас
									</a>
					
								</li>

								<li class="selected">

									<a class="selected">
										События
									</a>

									<ul class="">

										<li>
											<a href="/occasions/events">
												Мероприятия
											</a>
										</li>

										<li>
											<a href="/occasions/news">
												Новости
											</a>
										</li>

										<li>
											<a href="/occasions/promos">
												Акции
											</a>
										</li>

									</ul>

								</li>

								<li>

									<a href="/articles">
										Статьи
									</a>
	
								</li>

							</ul>

						</div>

						{% include "home/burger.html" %}

					</div>

				</div>

				<div id="content">

					<div class="main-top main-top_centered">

						<h1 class="hyphenate">
							События
						</h1>

					</div>

					<div class="main">

						<div class="events">

							<div class="events__inner">

								<h2>
									Ближайшие 
									<a href="/occasions/events">
										мероприятия
									</a>
								</h2>

								<div class="event">

									<div class="event__title">

										<h4>
											<a href="#!">
												День открытых дверей
											</a>
										</h4>

									</div>

									<div class="event__summary">
									</div>

									<div class="event__date">

										<span>
											27 ноября 
										</span>

										<span>
											12:00
										</span>

									</div>

								</div>

								<div class="event">

									<div class="event__title">
										
										<h4>
											<a href="#!">
												Расписание клиники, декабрь 2021
											</a>
										</h4>

									</div>

									<div class="event__summary">

									</div>

									<div class="event__date">

										<span>
											30 ноября 
										</span>

										<span>
											18:00
										</span>

									</div>

								</div>

								<div class="event">

									<div class="event__title">

										<h4>
											<a href="#!">
												День открытых дверей On-line
											</a>
										</h4>

									</div>

									<div class="event__summary">
									</div>

									<div class="event__date">

										<span>
											2 декабря 
										</span>
										<span>
											16:00
										</span>

									</div>

								</div>

								<div class="event">

									<div class="event__title">

										<h4>
											<a href="#!">
												День открытых дверей
											</a>
										</h4>

									</div>

									<div class="event__summary">
									</div>

									<div class="event__date">

										<span>
											9 декабря 
										</span>
										<span>
											18:00
										</span>

									</div>

								</div>

								<div class="next">

									<div class="next__title">

										<a href="/occasions/events">
											<span>
												План мероприятий
											</span>
										</a>

									</div>

								</div>

							</div>

						</div>

					</div>

					<div class="cols cols_2 cols_articles">

						<div class="col">

							<h2 class="with-left-margin">

								<a href="/occasions/news">
									Новости
								</a>

							</h2>

							<div class="articles-list">

								<div class="articles-list__item">

									<div class="article">

										<div class="article__img" style="background-image: url('/files/1093/uzi-detyam.jpeg')">
										</div>

										<div class="article__title">

											<h4>
												<a href="#!">
													Новая услуга
												</a>
											</h4>

										</div>

										<div class="article__summary">
										</div>

										<div class="article__date">

											<div class="date">
												23 ноября 
											</div>

										</div>

									</div>

								</div>

								<div class="articles-list__item">

									<div class="article">

										<div class="article__img" style="background-image: url('/files/1092/CB11E0FC-EA21-4A69-9BEA-4AD00A159927.jpeg')">
										</div>

										<div class="article__title">

											<h4>
												<a href="#!">
													День фельдшера
												</a>
											</h4>

										</div>

										<div class="article__summary">
										</div>

										<div class="article__date">

											<div class="date">
												22 ноября 
											</div>

										</div>

									</div>

								</div>

							</div>

						</div>

						<div class="col">

							<h2>
								<a href="/occasions/promos">
									Акции
								</a>
							</h2>

							<div class="articles-list articles-list_promo">

								<div class="articles-list__item">

									<div class="article">

										<div class="article__title">

											<h4>
												<a href="#!">
													Самый лучший подарок на свете - это внимание и забота!!!
												</a>
											</h4>

										</div>

										<div class="article__summary">
											Дарим скидку 10% при заключении договора на любую процедуру.
										</div>

										<div class="article__date">

											<div class="date">
											</div>

										</div>

									</div>

								</div>

								<div class="articles-list__item">

									<div class="article">

										<div class="article__title">

											<h4>
												<a href="#!">
													Программа лояльности
												</a>
											</h4>

										</div>

										<div class="article__summary">
										</div>

										<div class="article__date">

											<div class="date">
											</div>

										</div>

									</div>

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

			{% include "home/footer.html" %}


		</div>

		<div class="bg">

			<img alt="" width="300" height="300" src="{% static 'img/main-bg.jpg' %}" />
			
		</div>
		
		<div class="popup popup_search not_display">

			<span class="popup__close">
				
				×

			</span>
			
			<div class="popup__content">

				{% include "home/logo.html" %}
				
				<div class="popup__content-inner">

					{% include "home/search.html" %}

					<ul class="sitemap">

						<li>

							<a href="/">
								MediCare Clinic
							</a>
	
							<ul>
	
								<li>
								  <a href="/travma">
									Центр травматологии и ортопедии
								  </a>
								</li>
				
								<li>
								  <a href="/gynecology">
									Гинекология и акушерство
								  </a>
								</li>
								<li>
								  <a href="/urology">
									Урология и андрология
								  </a>
								</li>
								<li>
								  <a href="/vaccine">
									Центр Вакцинации
								  </a>
								</li>
								<li>
								  <a href="/laboratory">
									Анализы и лабораторные исследования
								  </a>
								</li>
								<li>
								  <a href="/firstaid">
									Травмпункт
								  </a>
								</li>
								<li>
								  <a href="/online">
									On-line консультации
								  </a>
								</li>
								<li>
								  <a href="/callhome">
									Медицинская помощь на дому
								  </a>
								</li>
								<li>
								  <a href="/vacancies">
									Вакансии
								  </a>
								</li>
				
							</ul>
	
						</li>

						<li>
        
							<a href="/about">
							  О нас
							</a>
						
							<ul class="">
						
							  <li>
								<a href="/about/staff">
								  Коллектив
								</a>
							  </li>
						
							  <li>
								<a href="/about/reviews">
								  Отзывы
								</a>
							  </li>
						
							  <li>
								<a href="/about/for_clients">
								  Нашим клиентам
								</a>
							  </li>
						
							  <li>
								<a href="/about/contacts">
								  Контакты / Часы работы
								</a>
							  </li>
						
							  <li>
								<a href="/about/partners">
								  Партнеры
								</a>
							  </li>
						
							  <li>
								<a href="/about/pricelist">
								  Цены
								</a>
							  </li>
				
							  <li>
								<a href="/about/license">
									Документы
								</a>
							  </li>
						
							  <li>
								<a href="/about/faq">
								  Вопросы и ответы
								</a>
							  </li>
						
							</ul>
						
						</li>

						<li class="selected">

							<a class="selected">
								События
							</a>
							
							<ul class="">
        
								<li>
								  <a href="/occasions/events">
									Мероприятия
								  </a>
								</li>
						  
								<li>
								  <a href="/occasions/news">
									Новости
								  </a>
								</li>
						  
								<li>
								  <a href="/occasions/promos">
									Акции
								  </a>
								</li>
						  
							</ul>

						</li>

						<li>

							<a href="articles">
				
							  Статьи
				
							</a>
				
						</li>

					</ul>

					<div class="search-results-container">

					</div>

				</div>

			</div>
			
		</div>

{% endblock occasions %}
											
		