

<div class="first_child last_child social no_underline">

    <a href="https://www.instagram.com/medicareclinic_ru/">

        <span class="icon-network icon-network-inst">
        </span>

    </a>

    <a href="https://www.facebook.com/MedicareClinic.ru/">
        
        <span class="icon-network icon-network-fb">
        </span>

    </a>

    <a href="https://www.youtube.com/channel/UCRPKI5wdjlxoRx4GnlnEh2Q?view_as=subscriber">
        
        <span class="icon-network icon-network-yt">
        </span>

    </a>

    <a href="https://vk.com/medicareclinic">

        <span class="icon-network icon-network-vk">
        </span>

    </a>

</div>

