{% extends "home/base.html" %}

{% load static %}


{% block staff %}				
					
	<div class="layout">

		<div class="layout__inner">

			<div class="header">

				<span class="header__bg">
				</span>

				<div class="header__inner">

					{% include "home/logo.html" %}

					<div class="navigation-container">

						<ul class="navigation">

							<li>

								<a href="/">
									MediCare Clinic
								</a>

								<ul>

									<li>
										<a href="/travma">
											Центр травматологии и ортопедии
										</a>
									</li>

									<li>
										<a href="/gynecology">
											Гинекология и акушерство
										</a>
									</li>

									<li>
										<a href="/urology">
											Урология и андрология
										</a>
									</li>

									<li>
										<a href="/vaccine">
											Центр Вакцинации
										</a>
									</li>

									<li>
										<a href="/laboratory">
											Анализы и лабораторные исследования
										</a>
									</li>

									<li>
										<a href="/firstaid">
											Травмпункт
										</a>
									</li>

									<li>
										<a href="/online">
											On-line консультации
										</a>
									</li>

									<li>
										<a href="/callhome">
											Медицинская помощь на дому
										</a>
									</li>

									<li>
										<a href="/vacancies">
											Вакансии
										</a>
									</li>

								</ul>

							</li>

							<li class="selected">

								<a class="selected">
									О нас
								</a>

								<ul class="">
		
									<li class="selected">
										<b href="/about/staff">
											Коллектив
										</b>
									</li>
							
									<li>
										<a href="/about/reviews">
											Отзывы
										</a>
									</li>
							
									<li>
										<a href="/about/for_clients">
											Нашим клиентам
										</a>
									</li>
							
									<li>
										<a href="/about/contacts">
											Контакты / Часы работы
										</a>
									</li>
							
									<li>
										<a href="/about/partners">
											Партнеры
										</a>
									</li>
							
									<li>
										<a href="/about/pricelist">
											Цены
										</a>
									</li>
					
									<li>
										<a href="/about/license">
											Документы
										</a>
									</li>
							
									<li>
										<a href="/about/faq">
											Вопросы и ответы
										</a>
									</li>
							
								</ul>

							</li>

							<li>

								<a href="/occasions">
									События
								</a>

							</li>

							<li>

								<a href="/articles">
									Статьи
								</a>

							</li>

						</ul>

					</div>

					{% include "home/burger.html" %}

				</div>

			</div>				
						
						
						
			<div id="content">
				<div class="main-top">
					<h1 class="hyphenate">
						Коллектив
					</h1>
					

				</div>

				<div class="persons-list">
					<div class="persons-list__item">
						<div class="employee">
							<div class="employee__top">
								<div class="employee__img">
									<a href="/about/staff/people/1/" class="no_underline">
										<span class="userpic" style="background-image: url(/files/85/borisov_a_v.jpg);">
										</span>
									</a>
								</div>
								<div class="employee__name">
									<a href="/about/staff/people/1/">
										Анарбаев Алишер Бакирович
									</a>
								</div>
							</div>
							<div class="employee__position">
								Врач травматолог-ортопед<br>
								Врач общей практики
							</div>
						</div>
					</div>
					<div class="persons-list__item">
						<div class="employee">
							<div class="employee__top">
								<div class="employee__img">
									<a href="/about/staff/people/2/" class="no_underline">
										<span class="userpic" style="background-image: url(/files/85/borisov_a_v.jpg);">
										</span>
									</a>
								</div>
								<div class="employee__name">
									<a href="/about/staff/people/2/">
										Журавский Дмитрий Александрович
									</a>
								</div>
							</div>
							<div class="employee__position">
								Врач уролог - андролог
							</div>
						</div>
					</div>
					
					<div class="persons-list__item">
						<div class="employee">
							<div class="employee__top">
								<div class="employee__img">
									<a href="/about/staff/people/3/" class="no_underline">
										<span class="userpic" style="background-image: url(/files/85/borisov_a_v.jpg);">
										</span>
									</a>
								</div>
								<div class="employee__name">
									<a href="/about/staff/people/3/">
										Ходжаева Фарангис Мухаммадиевна
									</a>
								</div>
							</div>
							<div class="employee__position">
								Врач акушер-гинеколог
							</div>
						</div>
					</div>
					
					<div class="persons-list__item">
						<div class="employee">
							<div class="employee__top">
								<div class="employee__img">
									<a href="/about/staff/people/4/" class="no_underline">
										<span class="userpic" style="background-image: url(/files/140/semenova_i_n.jpg);">

										</span>
									</a>
								</div>
								<div class="employee__name">
									<a href="/about/staff/people/4/">
										Казимагомедов Казбек Низамиевич
									</a>
								</div>
							</div>
							<div class="employee__position">
								Врач хирург-онколог
							</div>
						</div>
					</div>
					
					<div class="persons-list__item">
						<div class="employee">
							<div class="employee__top">
								<div class="employee__img">
									<a href="/about/staff/people/5/" class="no_underline">
										<span class="userpic" style="background-image: url(/files/1071/7D87F96E-88F9-491A-B5AF-9A9748F9396B.jpeg);">

										</span>
									</a>
								</div>
								<div class="employee__name">
									<a href="/about/staff/people/5/">
										Алимурадов Амир Ровшанович
									</a>
								</div>
							</div>
							<div class="employee__position">
								Врач детский хирург<br>
								Врач детский уролог-андролог<br>
							</div>
						</div>
					</div>
					
					<div class="persons-list__item">
						<div class="employee">
							<div class="employee__top">
								<div class="employee__img">
									<a href="/about/staff/people/6/" class="no_underline">
										<span class="userpic" style="background-image: url(/files/603/2720d52d-06d2-4e00-868a-fdd1ee64addf-removebg-preview%20%281%29.png);">

										</span>
									</a>
								</div>
								<div class="employee__name">
									<a href="/about/staff/people/6/">
										Магомедов Назир Абдулмеджидович
									</a>
								</div>
							</div>
							<div class="employee__position">
								Врач уролог-андролог
							</div>
						</div>
					</div>
					
					<div class="persons-list__item">
						<div class="employee">
							<div class="employee__top">
								<div class="employee__img">
									<a href="/about/staff/people/7/" class="no_underline">
										<span class="userpic" style="background-image: url(/files/132/barsukova_m_a.jpg);">
										</span>
									</a>
								</div>
								<div class="employee__name">
									<a href="/about/staff/people/7/">
										Гончарова Махтоб Толибовна
									</a>
								</div>
							</div>
							<div class="employee__position">
								Врач акушер-гинеколог
							</div>
						</div>
					</div>
					
					<div class="persons-list__item">
						<div class="employee">
							<div class="employee__top">
								<div class="employee__img">
									<a href="/about/staff/people/8/" class="no_underline">
										<span class="userpic" style="background-image: url(/files/84/boricheva_n_a.jpg);">

										</span>
									</a>
								</div>
								<div class="employee__name">
									<a href="/about/staff/people/8/">
										Асакаев Абдулбек Аликович
									</a>
								</div>
							</div>
							<div class="employee__position">
								Врач травматолог-ортопед<br>
								Врач терапевт
							</div>
						</div>
					</div>
					

				</div>
			</div>

		</div>

		{% include "home/footer.html" %}



	</div>

	<div class="bg">

		<img alt="" width="300" height="300" src="{% static 'img/main-bg.jpg' %}" />
		
	</div>

	<div class="popup popup_search not_display">

		<span class="popup__close">
			×
		</span>

		<div class="popup__content">

			{% include "home/logo.html" %}

			<div class="popup__content-inner">

				{% include "home/search.html" %}

				<ul class="sitemap">

					<li>

						<a href="/">
							MediCare Clinic
						</a>

						<ul>

							<li>
								<a href="/travma">
								Центр травматологии и ортопедии
								</a>
							</li>
			
							<li>
								<a href="/gynecology">
								Гинекология и акушерство
								</a>
							</li>
							<li>
								<a href="/urology">
								Урология и андрология
								</a>
							</li>
							<li>
								<a href="/vaccine">
								Центр Вакцинации
								</a>
							</li>
							<li>
								<a href="/laboratory">
								Анализы и лабораторные исследования
								</a>
							</li>
							<li>
								<a href="/firstaid">
								Травмпункт
								</a>
							</li>
							<li>
								<a href="/online">
								On-line консультации
								</a>
							</li>
							<li>
								<a href="/callhome">
								Медицинская помощь на дому
								</a>
							</li>
							<li>
								<a href="/vacancies">
								Вакансии
								</a>
							</li>
			
						</ul>

					</li>

					<li class="selected">

						<a class="selected">
							О нас
						</a>

						<ul class="">
		
							<li class="selected">
								<a href="/about/staff">
								Коллектив
								</a>
							</li>
						
							<li>
								<a href="/about/reviews">
								Отзывы
								</a>
							</li>
						
							<li>
								<a href="/about/for_clients">
								Нашим клиентам
								</a>
							</li>
						
							<li>
								<a href="/about/contacts">
								Контакты / Часы работы
								</a>
							</li>
						
							<li>
								<a href="/about/partners">
								Партнеры
								</a>
							</li>
						
							<li>
								<a href="/about/pricelist">
								Цены
								</a>
							</li>
						
							<li>
								<a href="/about/faq">
								Вопросы и ответы
								</a>
							</li>
						
						</ul>

					</li>

					<li>
		
						<a href="/occasions">
							События
						</a>
					
						<ul class="">
					
							<li>
							<a href="/occasions/events">
								Мероприятия
							</a>
							</li>
					
							<li>
							<a href="/occasions/news">
								Новости
							</a>
							</li>
					
							<li>
							<a href="/occasions/promos">
								Акции
							</a>
							</li>
					
						</ul>
					
					</li>
					
					<li>
		
						<a href="/articles">
							Статьи
						</a>
		
					</li>

				</ul>

				<div class="search-results-container">

				</div>

			</div>

		</div>

	</div>


{% endblock staff %}
